main {
	font-size:0;
	padding:60px;
}

.container{
	max-width: 800px;
	margin-top:90px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.box_half{
	width: 49.5%;
	height: 200px;
}

.box_third{
	width:33%;
	height: 300px;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.grey{
	background-color: gray;
}

.black{
	background-color:black;
}

.orange{
	background-color: orange;
}
